<div class="page-header">
  <h1>Prueba Bot: <small>Comandos</small></h1>
</div>

<h3>Saludo; <span class="label label-default">/hola</span></h3>
<h3>Ubicacion: <span class="label label-default">/loc</span></h3>
<h3>Audio <span class="label label-default">/sound</span></h3>
<h3>Imagen <span class="label label-default">/photo</span></h3>
<h3>Cruz <span class="label label-default"></span></h3>
